<div class="topcoat-navigation-bar">
    
    <div class="topcoat-navigation-bar__item left quarter">
        <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button">
            <img class="topcoat-icon" src="img/hamburger_light.png" />  
        </a>
    </div>    
    
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Prospectus</h1>
    </div>
</div>

<%= side_nav
%>


<div class="main-content">
    <ul class="topcoat-list list" id="prospectus-list">
    <% _.each(prospectus, function(item) { %>
    <li class="topcoat-list__item" data-id="<%= item.id %>">
            <a href="#prospectus-item/<%= item.id %>">

                <img src="img/crest_30.png" />
                <p><%= item.title %></p>
                <p><%= item.pubDate %></p>
                <span class="chevron"></span>

            </a>
        </li>
    <%
    }); %>
    </ul>

    
</div>