<?xml version='1.0' encoding='utf-8'?>
<widget id="com.schoolspace.athlonecc" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Athlonecc</name>
    <description>
        Displays information about and latest news from Athlone Community College, Co. Westmeath, Ireland.
    </description>
    <author email="schoolspaceweb@gmail.com" href="http://www.schoolspace.co">
        Schoolspace
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
